:root {
	--color-primary-light: hsl(210, 100%, 98%);
	--color-primary-100: hsl(210, 100%, 95%);
	--color-primary-200: hsl(210, 100%, 85%);
	--color-primary-300: hsl(210, 100%, 80%);
	--color-primary-400: hsl(210, 100%, 75%);
	--color-primary-500: hsl(210, 100%, 60%);
	--color-primary-600: hsl(210, 100%, 50%);
	--color-primary-700: hsl(210, 100%, 40%);
	--color-primary-800: hsl(210, 100%, 30%);
	--color-primary-900: hsl(210, 100%, 20%);
	--color-primary-dark: hsl(210, 100%, 2%);
}

input,
select,
textarea {
	@apply text-white;
}

html {
	@apply bg-gray-100 text-black;
	background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMzI2dnV6N3JpaWV5ZG5rbTd6OWRjeWhleHAxb3RucDFkdHZ5b21ydiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/1i2Hy7gDDBjRlhMwFx/giphy.gif');
}

.marta-shadow {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 6px;
}
